<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vanky.chat.server.mapper.GroupUserMapper">

    <select id="getByGroupId" parameterType="list" resultType="com.vanky.chat.server.pojo.GroupUser">
        select * from group_user
        where group_id = #{groupId}
    </select>
</mapper>