<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanky.chat.user.mapper.ImUserMapper">

    <select id="selectByUsername" resultMap="ImUserBaseResultMap">
        select
            u.user_id,u.username,u.nickname,u.email,u.mobile,u.sex,u.avatar,u.password,
            u.offline_time,u.public_key,u.status,u.creator,u.create_time,u.updater,
            u.update_time,u.remark,u.deleted,
            r.role_id,r.role_label,r.role_name,r.sort,r.status,r.deleted,r.remark,r.create_time,r.update_time
        from im_user u left join user_role ur on u.user_id = ur.user_id
                        left join role r on ur.role_id = r.role_id
        where u.username = #{username}
    </select>

    <select id="selectByUserId" resultMap="ImUserBaseResultMap">
        select
            u.user_id,u.username,u.nickname,u.email,u.mobile,u.sex,u.avatar,u.password,
            u.offline_time,u.public_key,u.status,u.creator,u.create_time,u.updater,
            u.update_time,u.remark,u.deleted,
            r.role_id,r.role_label,r.role_name,r.sort,r.status,r.deleted,r.remark,r.create_time,r.update_time
        from im_user u left join user_role ur on u.user_id = ur.user_id
                       left join role r on ur.role_id = r.role_id
        where u.user_id = #{userId}
    </select>

    <resultMap id="ImUserBaseResultMap" type="com.vanky.chat.user.pojo.po.ImUser">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="offlineTime" column="offline_time" jdbcType="TIMESTAMP"/>
            <result property="publicKey" column="public_key" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <collection property="roles" resultMap="com.vanky.chat.user.mapper.RoleMapper.BaseResultMap"/>
    </resultMap>


</mapper>
